* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: black;

}

nav {

    display: flex;
    justify-content: center;


}

.image {
    height: 20px;
    width: 100px;
    margin-right: 30px;

}

.nav-bar {
    z-index: 5;
    height: 45px;
    padding: 0px 8px;
    width: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: blur(12px);
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

.nav-bar a {
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    font-weight: 600;
}

.nav-bar a:hover {
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    color: black;

}

.left-nav .right-nav {
    display: flex;
    align-items: center;
}

.nav-button {
    margin-top: 8px;
    margin-left: 8px;
    padding: 10px 20px;
    background-color: #157BCF;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;

}

.section-1{
    background-image: url("./thamma.jpg");
    margin:45px;
    height:100vh;
    width:100%;
    background-size:cover;
    display:flex;
    
}


.image-2{
    position:absolute;
    top:100px;
    right:800px;
    height:40px;
    width:60px;
}

.india{
    position:absolute;
    top:150px;
    right:700px;
    color:rgb(75, 213, 75);
    font-weight:600;
    font-size:25px;
}

.thamma{
    position:absolute;
    top:200px;
    right:80px;
    color:white;
    font-size:18px;
    font-family:sans-serif;
    font-weight:600;
}

.button-1{
    height:50px;
    width:120px;
    padding:8px 8px;
    position:absolute;
    top:300px;
    right:650px;
    color:white;
    border-radius:8px;
    background-color:grey;
    font-size:20px;
    font-weight:600;
}