@font-face{
    font-family:'my font';
    src: url('lecture3\my font.ttf') format('truetype');

}  
  
  body{
    font-family:"my font",cursive;
  }
  
  
  
  .para {
        /*font-family: "Playwrite US Trad Guides", cursive;
            font-weight: 400;
            font-style: normal;*/

    color: red;
}

.button {

    height: 50px;
    width: 100px;
    background-color: black;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: white;
    letter-spacing: 0.8;
}


lecture4 box model
*{
    box-sizing: border-box;
}


body{

    padding:10px;
    margin:10px;

}

.box{

    height:450px;
    width:450px;
    background-color:rgb(176, 168, 183);
    padding-left:25px;
    padding-top:25px;
}

.inner-box{

    height:390px;
    width:390px;
    background-color:rgb(180, 115, 115);
    border-radius:10px;
    padding-left:20px;
    padding-top:15px;

}
.img1{
    height:350px;
    width:350px;
}

.box2{
    height:600px;
    width:300px;
    background-color:grey;
    text-align:center;
    font-size:30px;
    padding-left:25px;
    padding-top:25px;
}

.inner-box2{

    height:350px;
    width:250px;
    background-color:lightpink;
    font-size:large;
    padding-left:10px;
    padding-top:50px;
    border-radius:10px;

}
.para{
    text-align:center;
}

.img2{

    height:120px;
    width:120px;
    border-radius:100px;

    
}







