@font-face{
    font-family:'my font';
    src: url('lecture3\my font.ttf') format('truetype');

}  
  
  body{
    font-family:"my font",cursive;
  }
  
  
  
  .para {
        /*font-family: "Playwrite US Trad Guides", cursive;
            font-weight: 400;
            font-style: normal;*/

    color: red;
}

.button {

    height: 50px;
    width: 100px;
    background-color: black;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: white;
    letter-spacing: 0.8;
}


lecture4 box model
*{
    box-sizing: border-box;
}


body{

    padding:10px;
    margin:10px;

}

.box{
    height:450px;
    width:450px;
    background-color:rgb(176, 168, 183);
    padding-left:25px;
    padding-top:25px;
}

.inner-box{
    
    height:390px;
    width:390px;
    background-color:rgb(180, 115, 115);
    border-radius:10px;
    padding-left:20px;
    padding-top:15px;

}
.img1{
    height:350px;
    width:350px;
}

.box2{
    height:600px;
    width:300px;
    background-color:grey;
    text-align:center;
    font-size:30px;
    padding-left:25px;
    padding-top:25px;
}

.inner-box2{
    border:6px solid brown;
    height:350px;
    width:250px;
    background-color:lightpink;
    font-size:large;
    padding-left:10px;
    padding-top:50px;
    border-radius:10px;

}
.para{
    text-align:center;
}

.img2{
    border:5px green solid;
    height:120px;
    width:120px;
    border-radius:100px;   
}

.ri-code-s-slash-line{
    color:green;
}

.box3{
        height: 450px;
        width: 450px;
        font-size:large;
        background-color: rgb(176, 168, 183);
        padding-left: 25px;
        padding-top: 25px;
}

.inner-box3{
        height: 390px;
        width: 390px;
        background-color: rgb(234, 230, 230);
        border-radius: 10px;
        padding-left: 20px;
        padding-top: 15px;
}
.span{
    color:rgb(86, 174, 209);
}

.img3{
    height:150px;
    width:180px;
    margin-left:150px;
    margin-bottom:30px;
    border-radius:5px;

}

.button{
    height:40px;
    width:300px;
    background-color:rgb(50, 176, 225);
    border-radius:8px;
    padding-left:30px;
    text-align:center;
    align-content:center;
    color:white;
    margin-left:45px;

}

.p1{
    font-size:23px;
    color:rgb(199, 125, 125);
    padding-left:40px;
}

.p2 {
    font-size: 23px;
    color: rgb(199, 125, 125);
    padding-left: 40px;
}








