*{
    margin:0%;
    padding:0%;
}

body{
    height:100vh;
    width:100%;
}

.section{
    height:800px;
    width:100%;
    background-color:rgb(159, 217, 239);
    margin:15px;
    

}
.box{
    height:150px;
    width:150px;
    background-color:rgb(238, 104, 104);
    color:black;
    font-size:50px;
    margin:8px;
    border-radius:8px;
}

.heading{
    height:350px;
    width:100%;
    background-color:rgb(83, 217, 168);
    color:black;
    font-size:30px;
    text-align:center;

}

.flex-start{
    display:flex;
    justify-content:flex-start;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}
.center {
    display: flex;
    justify-content:center;
}
.space-between {
    display: flex;
    justify-content:space-between;
}
.space-around {
    display: flex;
    justify-content: space-around;
}

.space-evenly{
    display:flex;
    justify-content: space-evenly;
}
.align-1{
    display:flex;
    align-items:flex-start;

}

.align-2{
    display: flex;                  /* Enable flexbox */
    flex-direction: row;            /* Main axis: horizontal */
    flex-wrap:wrap;                 /* Allow multiple rows for align-content to work */
    justify-content: flex-end;
    align-items: flex-end;            /* Vertical alignment along cross axis */
    align-content:flex-end;    /* Vertical alignment of multiple lines */
}



.align-3{
     display: flex;                  /* Enable flexbox */
    flex-direction: row;            /* Main axis: horizontal */
    flex-wrap:wrap;                 /* Allow multiple rows for align-content to work */
    justify-content: center;
    align-items: center;            /* Vertical alignment along cross axis */
    align-content:center;    /* Vertical alignment of multiple lines */
}
    
.align-4{
     display: flex;                  /* Enable flexbox */
    flex-direction: row;            /* Main axis: horizontal */
    flex-wrap:wrap;                 /* Allow multiple rows for align-content to work */
               /* Vertical alignment along cross axis */
    align-content:stretch;    /* Vertical alignment of multiple lines */
}
    
.align-5{
     display: flex;                  /* Enable flexbox */
    flex-direction: row;            /* Main axis: horizontal */
    flex-wrap:wrap;                 /* Allow multiple rows for align-content to work */
    justify-content: space-between;
    align-items: space-between;            /* Vertical alignment along cross axis */
    align-content:space-between;    /* Vertical alignment of multiple lines */
}
    
.align-6{
     display: flex;                  /* Enable flexbox */
    flex-direction: row;            /* Main axis: horizontal */
    flex-wrap:wrap;                 /* Allow multiple rows for align-content to work */
    justify-content: space-around;
    align-items:space-around;            /* Vertical alignment along cross axis */
    align-content:space-around;    /* Vertical alignment of multiple lines */
}
    
.align-7{
     display: flex;                  /* Enable flexbox */
    flex-direction: row;            /* Main axis: horizontal */
    flex-wrap:wrap;                 /* Allow multiple rows for align-content to work */
    justify-content:space-evenly;
    align-items: space-evenly;            /* Vertical alignment along cross axis */
    align-content:space-evenly;    /* Vertical alignment of multiple lines */
}
    
