*{
    margin:0%;
    padding:0%;
}

body{
    height:100vh;
    width:100%;
}

.header{
    height:100px;
    width:100%;
    background-color:white;
}
    

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.img-1{
    height:100px;
    width:100px;
    margin:15px;
}

.button{
    height:50px;
    width:80px;
    border-radius:10px;
    background-color:black;
    color:white;
    font-size:20px;
    font-weight:50px;
}

.section{
    height:800px;
    width:100%;
    margin:15px;
    background-color:white;
    color:black;
}


