*{
    margin:0%;
    padding:0%;
}

body{
    height:100vh;
    width:100%;
    background-color: black;
}
section{
    height: 100vh;
    width:100%;
}



nav{
    display:flex;
    justify-content:center;
}
.left-nav .right-nav{
    display:flex;
    

}
.language{
    background-color: rgb(32, 32, 32);
    color:white;
    border:none;
   

}

.image{
    position:absolute;
    left:250px;
    height:100px;
    width:150px;
}

.bg{
    display:flex;
    background-color: rgba(0, 0, 0, 0.7);
    padding:0px 8px;
    height:100vh;
    width:100%;

}
.nav-button-1{
    position:absolute;
    top:20px;
    right:400px;
    height:10px;
    width:90px;
    padding: 10px 10px;
    text-align:center;
    border-radius:8px;
    border:0.5px rgb(190, 190, 190) solid;
    border-color:white;
    background-color:rgb(32, 32, 32);
    color:white;
    font-size:17px;
    border:none;
    font-weight:400;
    border-color:white;
    justify-content:space-evenly;

}

.nav-button-2{
    position: absolute;
    top: 15px;
    right:300px;
    height:10px;
    width:60px;
    padding: 10px 10px;
    margin-top:0.3%;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
        text-align: center;
        border-radius: 8px;
        background-color: rgb(236, 27, 27);
        color: white;
        font-size: 17px;
        font-weight: 400;
        border-color: white;
        justify-content: space-evenly;
}

.section-1{
    height:100vh;
    width:100%;
    background-image:url("./bgnetflix.jpg");
    
    

}
.middle-section{
    position:relative;
    left:700px;
    bottom:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:35px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.span-1{
    position: absolute;
    bottom:350px;
    color:white;
    font-size:23px;
    font-weight:18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}
.span-2{
    position:absolute;
    bottom:300px;
    font-size:16px;
    font-weight:40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.button{
    position: relative;
    top:625px;
    height:55px;
    width:500px;
    color:grey;
    background-color:rgb(32, 32, 32);
    font-size:20px;
    margin:15px;
    border:5px;
    border-color: white;
    border:0.5px rgb(190, 190, 190) solid;
    border-radius: 8px;
    display:flex;
    justify-content:center;
    align-content: center;
    align-items:center;
}

.button-1{
    position: relative;
    top: 640px;
    height:55px;
    width:250px;
    background-color:rgb(236, 27, 27);
    color:white;
    font-size:25px;
    font-weight: 600;
    border-radius: 8px;
    border:0.5px rgb(251, 19, 19) solid;
    display:flex;
    justify-content:left;
    align-items:center;
    
}
.ri-arrow-drop-right-line{
    font-size:40px;
    padding:30px 30px;
}

.bor{
    height:40px;
    width:100%;
    position:relative;
    top:0.60px;
    bottom:95px;
    border-top-left-radius:50%;
    border-top-right-radius: 50%;
    border-top:8px solid #BF235C;


}

.text{
    color:white;
    display: flex;
    justify-content:left;
    align-items: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 800;
    padding:40px 350px;
}

.poster{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.poster-1{
    transition: transform ease 0.1s;
    border-radius:10px;
    margin:15px;
}

.poster-1:hover{
    cursor: pointer;
    transform: scale(1.08);

}

.number-1{
    color:rgb(240, 233, 233);
    font-size:140px;
    font-weight:bold;
    position:absolute;
    top:1200px;
    left:370px;
    display:flex;
    
}

.number-2{
    color: rgb(240, 233, 233);
        font-size: 140px;
        font-weight: bold;
        position: absolute;
        top: 1200px;
        left:600px;
        display: flex;

}
.number-3{
    color: rgb(240, 233, 233);
        font-size: 140px;
        font-weight: bold;
        position: absolute;
        top: 1200px;
        left:825px;
        display: flex;
}

.number-4{
    color: rgb(240, 233, 233);
        font-size: 140px;
        font-weight: bold;
        position: absolute;
        top: 1200px;
        left:1055px;
        display: flex;
}

.number-5{
    color: rgb(240, 233, 233);
        font-size: 140px;
        font-weight: bold;
        position: absolute;
        top: 1200px;
        left: 1290px;
        display: flex;
}

.right-s-arrow{
    height:100px;
    width:30px;
    border-radius:8px;
    background-color: rgb(28, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform ease 0.1s;
}

.ri-arrow-right-s-line{
    font-size:30px;
    color:white;
}

.right-s-arrow:hover{
    cursor:pointer;
    background-color: rgb(112, 112, 112);

}
.text-1{
        color: white;
        display: flex;
        justify-content: left;
        align-items: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        font-weight: 800;
        padding: 40px 350px;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.box-1{
    height:300px;
    width:200px;
    margin: 10px;
    border-radius:8px;
    background-color: #1E1628;
    align-items: center;
    color:white;
    padding:30px 40px;
}
.note{
    font-size:15px;
    color:white;
    font-weight:400;
    padding:20px 0px;
}

.ri-tv-2-fill{
    font-size:80px;
    color: #922982;
    display: flex;
    justify-content:end;
    align-items: end;
    padding:80px 5px;
}

.ri-arrow-down-circle-line{
    font-size: 80px;
        color: #922982;
        display: flex;
        justify-content: end;
        align-items: end;
        padding: 55px 5px;

}

.ri-lightbulb-ai-fill{
    font-size: 80px;
        color: #922982;
        display: flex;
        justify-content: end;
        align-items: end;
        padding: 60px 0px;
    
}

.ri-bear-smile-fill{
    font-size: 80px;
        color: #922982;
        display: flex;
        justify-content: end;
        align-items: end;
        padding: 60px 0px;

}

.text-2{
    color: white;
    display: flex;
    justify-content: left;
        align-items: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        font-weight: 800;
        padding: 40px 350px;

}



.question-1{
    position: relative;
    left:550px;
    align-content: center;
    justify-content: center;
    align-items: center;
    height:50px;
    width:750px;
    margin:10px;
    background-color: rgb(65, 65, 65);
    color:white;
    text-align:start;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    

}

.question-1:hover{
    cursor: pointer;
    background-color:rgb(102, 101, 101);
}

.questions p{
    display:flex;
    justify-content: space-between;
    
    
}
.p-1{
    font-size: 20px;
    color: white;
    position: relative;
    top:525px;
    right:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.email{
    position: relative;
    top: 550px;
    left:500px;
    height: 55px;
    width: 500px;
    color: grey;
    background-color: rgb(32, 32, 32);
    font-size: 20px;
    margin: 15px;
    border: 5px;
    border-color: white;
    border: 0.5px rgb(190, 190, 190) solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.get-started {
    position: relative;
    top: 478px;
    left:1035px;
    height: 55px;
    width: 250px;
    background-color: rgb(236, 27, 27);
    color: white;
    font-size: 25px;
    font-weight: 600;
    border-radius: 8px;
    border: 0.5px rgb(251, 19, 19) solid;
    display: flex;
    justify-content: left;
    align-items: center;

}
.p-2{
    position: relative;
    top:550px;
    left:300px;
    justify-content: center;
    align-items: center;
    color:grey;
    font-size:20px;

}

.section-3{
    height: 25vh;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.section-3-title{
    color:grey;
    width: 70%;
    text-align: start;
    margin-bottom: 20px;
}

.links{
width: 70%;
   /* background-color: #922982; */
   display: grid;
   grid-template-columns: repeat(4,300px);
}
.links a{
    color: grey;
    padding: 10px 0px;
}



footer .footer-value select {
    position:relative;
    top:200px;
    left:300px;
    height:40px;
    width:100px;
    border-radius: 8px;
    border:3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
    background-color: rgb(32, 32, 32);
    color: white;
        

}

.netflix-india{
    position:relative;
    top:230px;
    right:600px;
   color:grey;
   font-size:18px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.note-1{
    position: relative;
        top: 250px;
        right:408px;
        color: grey;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    
}
footer .footer-value a{
    position: relative;
    top:232px;
    right:132px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(88, 88, 246);
}




