*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.box{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    text-align:center;
    padding-top:15px;
    font-weight: 200px;
    align-content: center;
    

}



.box2{
    height: 800px;
    width: 100px;
    border-radius: 4px;
    border: 2px solid white;    
    padding-top: 15px;
    padding-bottom: 20px;
    border-color: black;
    background-color: rgb(235, 238, 240);
    
    
}

.tag{
    font-weight:150px;
    font-size:24px;
    text-align: center;

}

.box3{
    display: flex;
    height:"800px";
    width:"100%";
    border-radius:4px;
    border: 2px solid white;
    padding-top: 15px;
    padding-bottom: 20px;
    border-color: black;
    background-color: aliceblue;
    color: black;
    font-size:24px;
    font-weight: 200;


}

.img1{
    padding: 8px;
    height:150px;
    width:200px;
}
    

p::first-letter{
    font-size: 50px;
    color: red;
}

p::selection{


    background-color: yellow;
    color: black;
}

.display{
    display: flex;
}
    
