*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height:100vh;
    width:100%;
    margin:0%;
    padding:0%;

}




.nav-bar{
    padding: 20px 10px;
    height:35px;
    width:100%;
    background-color: rgba(8, 17, 38, 0.267);
    color: white;
    font-size:18px;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    


}
.a{
    margin:2%;
}

.section-1{
    height: 100vh;
    width:100%;
    background-image: url("./sea.jpg");
    background-size: cover;
    font-size: 35px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.p{
    position: relative;
    top:90px;

}
.h1{
   display: flex;
   justify-content:center;
   align-items:center;

}

.section-2{
    height: 100vh;
        width: 100%;
        color:black;
        background-color: white;
        display: flex;
        justify-content: center;
            

}

.p-2{
    position: relative;
    top:10px;
    right:200px;
    font-size: 18px;
}


.box{
    height:250px;
    width:170px;
    color: black;
    background-color: white;
    position:relative;
    top:150px;
    right:600px;
    

   
    
   


}
.box-1 {
    height: 250px;
    width: 170px;
    color: black;
    background-color: white;
    position: relative;
    top: 150px;
    right: 400px;

}

.box-2 {
    height: 250px;
    width: 170px;
    color: black;
    background-color: white;
    position: relative;
    top: 150px;
    right:200px;

}

.box-3{
    height: 250px;
    width: 170px;
    color: black;
    background-color: white;
    position: relative;
    top: 400px;
    right:380px;

}
.box-4{
    height: 250px;
    width: 170px;
    color: black;
    background-color: white;
    position: relative;
    top: 400px;
    right:900px;

}

.box-5{
    height: 250px;
    width: 170px;
    color: black;
    background-color: white;
    position: relative;
    top: 400px;
    right:1450px;

}

.ri-settings-5-fill{
    font-size: 65px;
}
.ri-folder-settings-fill{
    font-size: 65px;

}
.ri-tools-fill{
    font-size: 65px;
}
.ri-list-settings-fill{
    font-size: 65px;
}
.ri-mail-settings-fill{
    font-size: 65px;
}

.section-3{
    height: 100vh;
        width: 100%;
        color: black;
        background-color: white;
        display: flex;
        justify-content: center;

}

.section-3-left{
    margin:5%;
    width:50%;
}

.section-3-right{
    width:50%
}

.section-3-right img{
    height: 200px;
        border-radius: 8px;
        padding: 3px;
}

.center{
    color:black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top:10px;
    left:250px;
}



.section-4 {
    height: 100vh;
    width: 100%;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
   

}

.images{

    margin:3%;

}
.img{

    margin:3%;
    height:100px;
    width:100px;
}

.center-1{
    height:100px;
    width:100%;
    display:flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top:2750px;
   
    
}

footer{
    
    padding:10px 10px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(151, 151, 151);
    color: white;
    font-size:20px;


}

.ri-phone-fill{
    font-size: 25px;
}

.ri-map-pin-line{
    font-size: 25px;

}

.ri-mail-line{
    font-size: 25px;
}








