* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: black;

}

nav {

    display: flex;
    justify-content: center;


}

.image {
    height: 20px;
    width: 100px;
    margin-right: 30px;

}

.nav-bar {
    z-index: 5;
    height: 45px;
    padding: 0px 8px;
    width: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: blur(12px);
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

.nav-bar a {
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    font-weight: 600;
}

.nav-bar a:hover {
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    color: black;

}

.left-nav .right-nav {
    display: flex;
    align-items: center;
}

.nav-button {
    margin-top: 8px;
    margin-left: 8px;
    padding: 10px 20px;
    background-color: #157BCF;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;

}

.section-1{
    background-image: url("./thamma.jpg");
    margin:45px;
    height:100vh;
    width:100%;
    background-size:cover;
    display:flex;
    
}


.image-2{
    position:absolute;
    top:100px;
    right:450px;
    height:40px;
    width:60px;
}

.india{
    position:absolute;
    top:150px;
    right:400px;
    color:rgb(75, 213, 75);
    font-weight:600;
    font-size:25px;
}

.thamma{
    position:absolute;
    top:200px;
    right:30px;
    color:white;
    font-size:18px;
    font-family:sans-serif;
    font-weight:600;
}

.button-1{
    height:30px;
    width:120px;
    padding:15px 25px;
    position:absolute;
    top:650px;
    bottom: 800px;
    right:250px;
    color:white;
    border-radius:8px;
    background-color:grey;
    font-size:20px;
    font-weight:600;
    transition: transform ease 0.1s;
}

section .button-1:hover{
    background-color: white;
    border-radius:8px;
    color: black;
    cursor: pointer;
    transform: scale(1.08);
}

.button-2{
    padding:0px;
    height:60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:650px;
    bottom: 900px;
    right:165px;
    color:white;
    border-radius:50%;
    font-size:30px;
    background-color:grey;
    transition: transform ease 0.1s;
}

section .button-2:hover{
    padding: 0px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:50%;
    color: black;
    cursor: pointer;
    transform: scale(1.08);
}

.button-3{

    padding:0px;
    height:60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:650px;
    bottom: 900px;
    right:90px;
    color:white;
    border-radius:50%;
    font-size:30px;
    background-color:grey;
    transition: transform ease 0.1s;
}

section .button-3:hover{
    padding: 0px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:50%;
    color: black;
    cursor: pointer;
    transform: scale(1.08);
}

.p{
    position:absolute;
    top:700px;
    bottom:1000px;
    right:110px;
    font-size: 18px;
    font-weight: 400;
    color:white;

}

.section-2{
     height: 100vh;
     width: 100%;
     display: flex;
     background-color: black;
     color: white;
}

.p1{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
}

.p2{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
}

.images{
    display: flex;
    background-size: cover;
    height:160px;
    width:200px;
    transition: transform ease 0.1s;
}
.images:hover{
    cursor:pointer;
    transform: scale(1.08);

}



