*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: black;

}

nav{
    display:flex;
    justify-content: center;
    

}

.image{
    height: 20px;
    width: 100px;
    margin-right: 30px;

}
.nav-bar{
    padding: 18px 8px;
    width: 90%;
    border-radius: 10px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.nav-bar a{
    text-decoration: none;
    padding: 0px 10px;
    color: white;
    font-weight: 600;
}

.left-nav .right-nav{
    display: flex;
    align-items: center;
}
