

*{
    font-family:arial sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: black;

}

nav{
    
    display:flex;
    justify-content: center;
    

}

.image{
    height: 20px;
    width: 100px;
    margin-right: 30px;

}
.nav-bar{
    z-index: 5;
    height:45px;
    padding:0px 8px;
    width: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter:blur(12px);
    position: fixed;
    background:rgba(0, 0,0,0.2);
    display: flex;
    justify-content: space-between;
}

.nav-bar a{
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    font-weight: 600;
}

.nav-bar a:hover{
    padding: 10px 20px;
    background-color: white;
    border-radius:8px;
    color: black;
    
}

.left-nav .right-nav{
    display: flex;
    align-items: center;
}

.nav-button{
    margin-top: 8px;
    margin-left:8px;
    padding: 10px 20px;
    background-color:#157BCF;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;

}

.section-1{
    z-index: 1;
    margin-top: 45px;
    height:100vh;
    width: 100%;
    background-size: cover;
    background-image: url("image1");
    color: white;
    
      
}

.section-content{
    position: relative;
    top: 80px;
    left: 30px;
}

.section h1{
    font-size: 48px;
}

.section p{
    font-size: 18px;
}
.section button{
    height: 60px;
    width: 200px;
    color: black;
    font-weight: 600;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    transition: transform ease 0.1s;
}

.section button:hover{
    cursor: pointer;
    transform: scale(1.08);

}

.section-2{
    height:100vh;
    width:100%;
    background-size: cover;
    background-image: url("image2");
    color: white;
    
    
}

.section-3{
    display:flex;
    margin-top: 10px;
    color:white;
    background-size: cover;
    height: 73vh;
    width: 100%;
}

.section-3-left{
    width: 50%;

}

.section-3-right{
    width:50%;
}

.section-3-right img{
    height: 160px;
    border-radius: 8px;
    padding: 3px;

}

.section-3-right img:hover{
    box-shadow: 3px 3px 30px 3px grey;
}

.section-3-left h1{
    position: relative;
    top: 100px;
    left:50px;
    font-size: 50px;
}
.section-3-left p{
    position: relative;
    top: 100px;
    left: 50px;
    font-size: 18px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    padding: 20px 0px;
}

footer .footer-value img{

    height: 35px;
    position: relative;
    left:135px;
}
footer .footer-value a{
    text-decoration: none;
    color: #85DFFE;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 5px;

}
footer .footer-value p{
    text-decoration: none;
    color: #bac1c4;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    left: 15px;

}
