*{
    margin: 0%;
    padding: 0%;
}

.parallax{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/06/53/beautiful-natural-image-1844362_640.jpg");
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.content{
    height: 300px;
    background: white;
    padding: 20px;

}
